/*
so color palette:  #003170 (navy), #a1cc3a (green), #6d7b75 (grey), #000000 (black)
*/

body {
  background: #FFF;
  color: #6d7b75;
  font-family: 'Rosario', sans-serif;
}

a {
  color: #a1cc3a;
}

.container {
  height: 90%;
}

.jumbotron {
  background: url('../img/logogradient.png');
  background-size: 100% 150px;
  text-align: center;
  margin-top: 2%;
  background-color: rgba(0,0,0,0.5);
  color: #6d7b75;
  color: #FFF;
  height: 27%;
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron > h1, .jumbotron > h4 {
  position: relative;
  top: -90%;
  text-shadow: 0 0 2px #003170;
}

navbar {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  bottom: 5%;
  height: 10px;
}

.nav-element {
  margin-right: 3%;
  margin-left: 3%;
}

.transparent-text {
  opacity: 0.6;
}

.main-box {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}

.btn-main {
  color: #FFF;
  padding: 3%;
  font-size: 200%;
  border: 3px solid rgba(0,0,0,0);
}

.btn-main:hover {
  color: inherit;
  border: 3px solid #6d7b75;
}

.btn-navy {
  background-color: #003170;
  color: #FFF;
}

.btn-green {
  color: #FFF;
  background-color: #a1cc3a;
}

.btn:hover {
  color: #6d7b75;
}

.center-box {
  width: 80%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

#result {
  margin-bottom: 10%;
}

.vendor {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#report_img {
  width: 100%;
}
